<h1 mat-dialog-title>Add TodoModel</h1>
<form [formGroup]="todoForm">
    <mat-form-field>
        <input matInput
               placeholder="TaskName"
               formControlName="taskName"
               required
        >
    </mat-form-field>
    <mat-form-field>
        <input matInput
               [matDatepicker]="picker"
               [min]="minDate"
               [max]="maxDate"
               placeholder="Choose a date"
               formControlName="dueDate"
               required
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
        <mat-form-field class="full-width">
            <input matInput
                   placeholder="extra note"
                   formControlName="extraNote"
            >
        </mat-form-field>
    </div>
    <button mat-flat-button>No Thanks</button>
    <button mat-flat-button color="primary" (click)="saveToDo()" [disabled]="!todoForm.valid">Ok</button>
</form>


